@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-poppins;
  }
  body {
    background: #0e171b;
  }
  main {
    width: 85%;
    margin: auto;
  }
}

@layer components {
  .footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    width: 90%;
    gap: 20px;
  }
  .cancel svg {
    width: 44px;
    height: 44px;
  }
  @media screen and (max-width: 1100px) {
    .footer-grid {
      grid-template-columns: 1fr;
      row-gap: 50px;
    }
  }
}
